<ul class="sort">
  <li data-sort-by="title">A-Z</li>
  <li data-sort-by="publisher">Publisher</li>
</ul>
<ul class="comics">
  <% @comics.each do |comic| %>
    <li data-publisher="<%= comic.publisher %>"
        data-title="<%= comic.title %>">
      <img alt="<%= comic.title %>" src="<%= comic.large_image_url %>" />
      <div class="title"><%= comic.title %></div>
    </li>
  <% end %>
</ul>
